{% extends "base.html" %}

{% block title %}Parol o'zgartirildi{% endblock %}

{% block content %}
<div class="container container--narrow" style="padding-block: var(--s-8)">
  <div class="auth__form" style="margin-inline: auto; text-align: center">
    <h1 class="auth__title">Parol o'zgartirildi</h1>
    <div class="alert alert--success" style="text-align: left">
      {% include "partials/icon.html" with name="check" %}
      <div>Yangi parolingiz saqlandi. Endi u bilan tizimga kirishingiz mumkin.</div>
    </div>
    <a class="btn btn--primary btn--block" href="{% url 'users:login' %}">Kirish</a>
  </div>
</div>
{% endblock %}
